{% extends "admin/login.html" %}

{% block extrastyle %}
<style>
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #264027 !important;
    {#background-color: #111d13 !important;#}
}

#container, .login-container {
    background-color: transparent !important;
}

.card {
    background-color: #4f772d !important;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: #264027 !important;
    {#color: #111d13 !important;#}
}
</style>
{% endblock %}
